.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* Allows cards to move to the next line if they overflow the container width */
}

.customHeader {
  background-color: #f8f9fa;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.customHeader h2 {
  color: #495057;
}

.customHeader p {
  color: #6c757d;
}

.customCard {
  width: 18rem;
  margin: 15px;
}

.personality-card {
  width: 100px; /* adjust width as needed */
  height: 150px; /* adjust height as needed */
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.personality-card img {
  width: 100%; /* make image fill the card */
  height: 70%; /* adjust as needed */
  object-fit: cover;
}

.personality-card.selected {
  transform: scale(1.05); /* slightly enlarge selected card */
  box-shadow: 0px 0px 15px rgba(0,0,0,0.3); /* add shadow to selected card */
}

.personality-card .card-body {
  padding: 5px; /* smaller padding for smaller card */
  text-align: center;
}

.personality-card .card-title {
  font-size: 0.8rem; /* smaller font size for smaller card */
}

