# IntelliJ
.idea/
.idea/*
client.iml

# Python tings
__pycache__/
/__pycache__/
__pycache__/*

# Temp environment variables
.env

# Temporary/test directories
llms-tests/*
llms-tests/

# Django 
migrations/*
migrations/
db.sqlite3

# Ignore node  modules
node_modules/

# OS Related
.DS_Store
Thumbs.db

# Ignore npm debug files
npm-debug.log

# Ignore build
/build/
client/package-lock.json

# Tests
client/src/App.test.js
client/src/setupTests.js
client/src/logo.svg
