# IntelliJ
.idea/
.idea/*

# Python tings
__pycache__/
/__pycache__/
__pycache__/*

# Temp environment variables
.env

# Temporary/test directories
llms-tests/*
llms-tests/

# Django 
migrations/*
migrations/
db.sqlite3
